# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# Env
.env
.env.local
.env.*.local

# Build outputs
dist/
build/

# OS / editor
.DS_Store
.vscode/
.idea/

# Logs, coverage, db
*.log
coverage/
*.sqlite
tmp/

# Frontend
frontend/dist/

# Backend
backend/node_modules/

# Misc
Thumbs.db
